.mini{
    height: 42px;
    width: 32px;
}

.login {
    width: 400px;
    height: 255px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.filtro {
    background-color: black;
}

.registro {
    width: 400px;
    height: 455px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.body-bg{
    background-image: url(/assets/img/fondo.jpg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tamano{
    height: 585px;
    width: 100vw;
    object-fit: cover;
}
.bordes{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

small {
    color: red;
}

.barra{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.presentacion {
    margin-top: 1rem;
    height: 90%;
    width: 90%;
    object-fit: cover;
}

/* Carrusel Autos */
.tamano2{
    height: 400px;
    width: 100vw;
    object-fit: cover;
}

/* Prodcutos */
.card-img-top {
    height: 150px; /* Establece una altura fija */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
}